 .carousel {
    width: 100%;
    padding-top: 5%;
    border: 1px solid rgb(123, 255, 0);
    border-radius: 4px;
    padding: 5px;
  } 
  .buttonstyle {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 3px solid rgb(123, 255, 0);
    padding: 10px;
    
  }
  .imagestyle {
    border: 1px solid rgb(123, 255, 0);
    border-radius: 4px;
    padding: 5px;
  }
  .background-body{
    background-image: url(/Asset/img/vr46.png);
    align-content: center;
  }